body {
    padding: 10px;

}

.list-group-item {
    height: 80px;        
    display: flex;
    align-items: center;  
}


.create-watchlist{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.create-button{
    margin-top: 20px;
}

.list{
   display: flex;
   justify-content: center; 
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;}


.detail-listing{
    margin-left: 50px;
}

.details-close{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
}


.message-container{ 
    margin-top: 20px;
}

.bids{
    margin-top: 5px;
}

.amount, .comment, .user-comment{
     margin-top: 10px;
     margin-bottom: 10px;
}

.comment-container, .bid-container{
    margin-top: 20px;
    border: 1px solid rgb(104, 100, 100);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    
}
